[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://github.com/jang-1996/diff-gaussian-rasterization
[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://github.com/camenduru/simple-knn.git
